body
  h1 Real time question and answer
  div
    div.inlineBlock
      div(class="input-group col-lg-5")#messageForm
        input(type="text" class="form-control" placeholder="Your question?")#outgoingQuestion
        span(class="input-group-btn")
          button(class="btn btn-default" type="button")#send Send
      hr
  div#questions
    textarea(class="form-control" rows="10" style="resize:none")
