extends layout

block content
  script(src= './js/' + jf)
  script(src='./js/sr/sr.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")

  body
    h3
      | Zubility
  //- img.img-responsivxe(src='coverImage_lrg.png')
